/* Page base */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
  background-color: _palette(surface-base);

  &.is-loading {
    *, *:before, *:after {
      animation: none !important;
      transition: none !important;
    }
  }
}

@include breakpoint(xsmall) {
  html, body {
    min-width: 320px;
  }
}
