/* Skills */

.skills .title {
  text-align: center;
}

.skill-button-container {
  margin: 1.5em 0;
  text-align: center;
}

.skillbutton {
  box-shadow: none;
  outline: none;
}

.skillbutton-active {
  box-shadow: inset 0 0 0 1px _palette(amber);
  color: _palette(amber);
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: _palette(surface-sunken);
  height: 35px;
  border-radius: map-get($radius, md);
  transition: width 0.4s ease, background-color 0.4s ease;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: _font(weight-bold);
  font-size: 0.8125rem;
  color: _palette(text-on-dark);
  background: _palette(amber);
  border-top-left-radius: map-get($radius, md);
  border-bottom-left-radius: map-get($radius, md);
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  border-top-left-radius: map-get($radius, md);
  border-bottom-left-radius: map-get($radius, md);
}

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: _palette(amber);
  border-radius: map-get($radius, md);
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 0.6875rem;
  height: 35px;
  line-height: 35px;
  color: _palette(text-secondary);
}
