/* Author */

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 0;
  font-size: 0.6em;
  font-weight: _font(weight-heading);
  letter-spacing: _font(kerning-meta);
  text-transform: uppercase;
  white-space: nowrap;

  .name {
    transition: border-bottom-color #{_duration(transition)} $ease-out;
    border-bottom: dotted 1px _palette(border-strong);
    display: block;
    margin: 0 1.5em 0 0;
  }

  img {
    border-radius: map-get($radius, full);
    display: block;
    width: 4em;
  }

  &:hover {
    .name {
      border-bottom-color: transparent;
    }
  }
}
