/* Post — article container */

.post {
  position: relative;
  width: 100%;

  // Blog article post titles
  &--article > header .title h2 {
    font-size: 1.75rem;
    line-height: 1.3;
  }

  > header {
    width: 100%;

    .title {
      h2 {
        font-weight: _font(weight-heading-bold);
        font-size: 1.75rem;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    .meta {
      .published {
        color: _palette(text-secondary);
        display: block;
        font-size: 0.85rem;
        font-weight: _font(weight-medium);
        margin-top: 0.5em;
      }
    }
  }

  > a.image.featured {
    overflow: hidden;
    border-radius: map-get($radius, xl);

    img {
      transition: transform 0.25s $ease-out;
    }

    &:hover {
      img {
        transform: scale(1.03);
      }
    }
  }

  > footer {
    display: flex;
    align-items: center;

    .actions {
      flex-grow: 1;
    }
  }
}
